name: Test Multiple Maestro Versions on Android

on:
  # Run at 4 AM UTC daily
  schedule:
    - cron: "0 4 * * *"
  # Allow manual triggering
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to run tests against"
        type: choice
        options:
          - prod
          - dev
        default: "prod"
        required: true
      use-beta:
        description: "Use beta version"
        type: boolean
        default: false
        required: false

jobs:
  test-android:
    name: Android - Maestro ${{ matrix.maestro-version }}
    runs-on: ubuntu-latest

    strategy:
      # Don't cancel all jobs if one fails
      fail-fast: false
      matrix:
        maestro-version:
          - "1.39.1"
          - "1.39.2"
          - "1.39.5"
          - "1.39.7"
          - "1.41.0"
          - "2.0.3"
          - "2.0.4"
          - "2.0.9"

    steps:
      - uses: actions/checkout@v3

      - name: Run Android Maestro Tests
        uses: devicecloud-dev/device-cloud-for-maestro@v2
        with:
          api-key: ${{ github.event.inputs.environment == 'dev' && secrets.DCD_DEV_API_KEY || secrets.DCD_API_KEY }}
          api-url: ${{ github.event.inputs.environment == 'dev' && 'https://api.dev.devicecloud.dev' || '' }}
          app-file: ./binaries/sample.apk
          workspace: ./flows/android-flow-simple.yaml
          maestro-version: ${{ matrix.maestro-version }}
          use-beta: ${{ github.event.inputs.use-beta }}
          name: "Android - Maestro ${{ matrix.maestro-version }} Test Run"
