name: Dumb CPU1 Test - 100 Duplicate Flows

on:
  # Allow manual triggering
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to run tests against"
        type: choice
        options:
          - prod
          - dev
        default: "prod"
        required: true
      use-beta:
        description: "Use beta version"
        type: boolean
        default: false
        required: false

jobs:
  test-cpu1-duplicate-flows:
    name: CPU1 Test - 100 Flows
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run CPU1 Test with 100 Duplicate Flows
        uses: devicecloud-dev/device-cloud-for-maestro@v2
        with:
          api-key: ${{ github.event.inputs.environment == 'dev' && secrets.DCD_DEV_API_KEY || secrets.DCD_API_KEY }}
          api-url: ${{ github.event.inputs.environment == 'dev' && 'https://api.dev.devicecloud.dev' || '' }}
          app-file: ./binaries/sample.apk
          workspace: ./flows/cpu1-dumb-test/
          runner-type: cpu1
          use-beta: ${{ github.event.inputs.use-beta }}
          name: "Dumb CPU1 Test - 100 Duplicate Flows"
