name: Test iOS Devices [speed-test]

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to run tests against"
        type: choice
        options:
          - prod
          - dev
        default: "prod"
        required: true

jobs:
  test-ios-devices:
    name: iOS Speed Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run iOS Device Tests
        uses: devicecloud-dev/device-cloud-for-maestro@main
        with:
          api-key: ${{ github.event.inputs.environment == 'dev' && secrets.DCD_DEV_API_KEY || secrets.DCD_API_KEY }}
          api-url: ${{ github.event.inputs.environment == 'dev' && 'https://api.dev.devicecloud.dev' || '' }}
          app-binary-id: ${{ github.event.inputs.environment == 'dev' && '9e4f3c0b-146e-4bc8-8820-d49eb5e25198' || '81155b2c-e18d-4527-871a-6788068d836b' }}
          workspace: ./flows/speed-tests
          name: "iOS Speed Test"
